<!-- Step-2 -->
<div *ngIf="stepNumber == 2" class="steps" id="step-2"> <a href="javascript:void(0)" [routerLink]="['/main/step1']" class="back-btn" id="back-btn" title="Click to Back"> <i class="fas fa-arrow-circle-left"></i> </a>
  <div class="step-wrap">
    <form [formGroup]="registerForm" class="custom-form form" action="" method="post">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Birthdate</label>
            <input formControlName="birthdate" type="text" name="" class="form-control" bsDatepicker [(ngModel)]="dataModel.birthdate" placeholder="DD/MM/YYYY">
            <span class="calendar-icon"> <i class="far fa-calendar-alt"></i> </span> </div>
          <div *ngIf="f.birthdate.errors && f.birthdate.invalid && (f.birthdate.dirty || f.birthdate.touched)">
            <div *ngIf="f.birthdate.errors.required">Birthdate is required</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Retirement Age</label>
            <select formControlName="retirementAge" class="form-control" name="" [(ngModel)]="dataModel.retirementAge">
                    <option *ngFor="let retirementAge of retirementAges" [value]="retirementAge">{{retirementAge}}</option>
                  </select>
            <div *ngIf="f.retirementAge.errors && f.retirementAge.invalid && (f.retirementAge.dirty || f.retirementAge.touched)">
              <div *ngIf="f.retirementAge.errors.required">Retirement Age is required</div>
              <div *ngIf="f.retirementAge.errors.minlength">Min Age 1</div>
              <div *ngIf="f.retirementAge.errors.maxlength">Max Age 999</div>
              <div *ngIf="f.retirementAge.errors.min">Min Value 0</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Monthly Salary</label>
            <input formControlName="monthlySalary" type="text" name="" class="form-control" [(ngModel)]="dataModel.monthlySalary" placeholder="eg. $1500. $2500">
            <div *ngIf="f.monthlySalary.errors && f.monthlySalary.invalid && (f.monthlySalary.dirty || f.monthlySalary.touched)">
                            <div *ngIf="f.monthlySalary.errors.required">Current Pension Savings is required</div>
                            <div *ngIf="f.monthlySalary.errors.minlength">Min Value 0</div>
                            <div *ngIf="f.monthlySalary.errors.maxlength">Max Value 999999999</div>
                            <div *ngIf="f.monthlySalary.errors.min">Min Value 0</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Select AVC contributions</label>
            <select formControlName="employeeAVCContributions" class="form-control" name="" [(ngModel)]="dataModel.employeeAVCContributions">
                <option *ngFor="let avcContribution of avcContributions" [value]="avcContribution">{{(avcContribution*100)}}%</option>
            </select>
            <div *ngIf="f.employeeAVCContributions.errors && f.employeeAVCContributions.invalid && (f.employeeAVCContributions.dirty || f.employeeAVCContributions.touched)">
                            <div *ngIf="f.employeeAVCContributions.errors.required">Current Pension Savings is required</div>
                            <div *ngIf="f.employeeAVCContributions.errors.minlength">Min Value 0</div>
                            <div *ngIf="f.employeeAVCContributions.errors.maxlength">Max Value 999999999</div>
                            <div *ngIf="f.employeeAVCContributions.errors.min">Min Value 0</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Investment Style</label>
            <select formControlName="investmentStyle" class="form-control" name="" [(ngModel)]="dataModel.investmentStyle">
                    <option *ngFor="let investmentStyle of investmentStyles" [value]="investmentStyle.value">{{investmentStyle.label}}</option>
            </select>
            <div *ngIf="f.investmentStyle.errors && f.investmentStyle.invalid && (f.investmentStyle.dirty || f.investmentStyle.touched)">
                            <div *ngIf="f.investmentStyle.errors.required">Current Pension Savings is required</div>
                            <div *ngIf="f.investmentStyle.errors.minlength">Min Value 0</div>
                            <div *ngIf="f.investmentStyle.errors.maxlength">Max Value 999999999</div>
                            <div *ngIf="f.investmentStyle.errors.min">Min Value 0</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Recent Pension Statement balance</label>
            <input formControlName="recentPensionStatementBalance" type="text" name="" [(ngModel)]="dataModel.recentPensionStatementBalance" class="form-control">
            <div *ngIf="f.recentPensionStatementBalance.errors && f.recentPensionStatementBalance.invalid && (f.recentPensionStatementBalance.dirty || f.recentPensionStatementBalance.touched)">
                            <div *ngIf="f.recentPensionStatementBalance.errors.required">Current Pension Savings is required</div>
                            <div *ngIf="f.recentPensionStatementBalance.errors.minlength">Min Value 0</div>
                            <div *ngIf="f.recentPensionStatementBalance.errors.maxlength">Max Value 999999999</div>
                            <div *ngIf="f.recentPensionStatementBalance.errors.min">Min Value 0</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Pension Statement Date</label>
            <input formControlName="pensionStatementDate" bsDatepicker type="text" name="" class="form-control" [(ngModel)]="dataModel.pensionStatementDate" placeholder="DD/MM/YYYY">
            <span class="calendar-icon"> <i class="far fa-calendar-alt"></i> </span> </div>
            <div *ngIf="f.pensionStatementDate.errors && f.pensionStatementDate.invalid && (f.pensionStatementDate.dirty || f.pensionStatementDate.touched)">
                            <div *ngIf="f.pensionStatementDate.errors.required">Current Pension Savings is required</div>
                            <div *ngIf="f.pensionStatementDate.errors.minlength">Min Value 0</div>
                            <div *ngIf="f.pensionStatementDate.errors.maxlength">Max Value 999999999</div>
                            <div *ngIf="f.pensionStatementDate.errors.min">Min Value 0</div>
            </div>
        </div>
      </div>
      <div class="text-left m-t-20"> <a href="javascript:void(0)"
        [ngClass]="{'disabled': f.retirementAge.invalid || f.monthlySalary.invalid ||
        f.birthdate.invalid || f.employeeAVCContributions.invalid || f.investmentStyle.invalid ||
        f.recentPensionStatementBalance.invalid || f.pensionStatementDate.invalid }"
        title="Next" class="btn" (click)="calculate()"> Next </a> </div>
    </form>
  </div>
</div>

<!-- Step-3 -->
<div *ngIf="stepNumber == 3" class="steps" id="step-3"> <a href="javascript:void(0)" (click)="changeToPreviousStep()" class="back-btn" id="back-btn" title="Click to Back"> <i class="fas fa-arrow-circle-left"></i> </a>
  <div class="step-wrap"> <span class="label w-100 text-center d-inline-block"> Your Pension Plan is estimated to have a values of : </span>
    <div class="text-center m-t-50 m-b-30"> <span class="result-output"> <img src="assets/img/check.png" alt="Check"> <strong class="w-100 d-inline-block"> ${{result.totalPensionPlanValue | numberFormatFilter}} </strong> </span></div>
    <p class="note-text m-0 p-h-100 xs-p-h-0">Pension Plan Rules State that you are now able to take up to 25% of your pension account in atax free lumpsum and invest the remainder into an annuity or an income drawdown plan.</p>
    <div class="text-center m-t-30"> <a href="javascript:void(0)" (click)="changeToNextStep()" title="Next" class="btn"> Next </a> </div>
  </div>
</div>

<!-- Step-4 -->
<div *ngIf="stepNumber == 4" class="steps" id="step-4"> <a href="javascript:void(0)" (click)="changeToPreviousStep()" class="back-btn" id="back-btn" title="Click to Back"> <i class="fas fa-arrow-circle-left"></i> </a>
  <div class="step-wrap">
    <div class="wide-output">
      <div class="row">
        <div class="col-sm-4 text-center">
          <h5 class="align-middle p-v-25 xs-p-v-10">Your Lumpsum</h5>
        </div>
        <div class="col-sm-4 text-center"> <strong>${{result.lumpsum | numberFormatFilter}}</strong> </div>
        <div class="col-sm-4 text-right"> <span class="percent">25%</span> </div>
      </div>
    </div>
    <div class="wide-output">
      <div class="row">
        <div class="col-sm-4 text-center">
          <h5 class="align-middle p-v-10 xs-m-b-15">Buy an Annuity <br>
            Or<br>
            Transfer to INNOVA</h5>
        </div>
        <div class="col-sm-4 text-center"> <small class="label  w-100 d-inline-block">Your Options</small> <strong>${{result.transferOfInnova | numberFormatFilter}}</strong> </div>
        <div class="col-sm-4 text-right"> <span class="percent">75%</span> </div>
      </div>
    </div>
    <div class="text-center m-t-30"> <a href="javascript:void(0)" (click)="changeToNextStep()" title="Next" class="btn"> Next </a> </div>
  </div>
</div>

<!-- Step-5 -->
<div *ngIf="stepNumber == 5" class="steps" id="step-5"> <a href="javascript:void(0)" (click)="changeToPreviousStep()" class="back-btn" id="back-btn" title="Click to Back"> <i class="fas fa-arrow-circle-left"></i> </a>
  <div class="step-wrap"> <span class="f-logo m-t-30 d-inline-block"> <img src="assets/img/foryress-logo.png" alt="Fortress"> </span>
    <p class="label m-t-30">Fortress is currently not an annuity provider but we do offer the Fortress INNOVA income drawdown plan. Based in your earlier inputs, We can estimate what your first annual drawdown from the INNOVA plan could be.</p>
    <div class="text-left m-t-40"> <a href="javascript:void(0)" (click)="changeToNextStep()" title="Next" class="btn"> Next </a> </div>
  </div>
</div>

<!-- Step-6 -->
<div *ngIf="stepNumber == 6" class="steps" id="step-6"> <a href="javascript:void(0)" (click)="changeToPreviousStep()" class="back-btn" id="back-btn" title="Click to Back"> <i class="fas fa-arrow-circle-left"></i> </a>
  <div class="step-wrap"> <span class="label w-100 text-center d-inline-block"> Your estimated INNOVA plan  payout in your first <br>
    year of retirement. </span>
    <div class="text-center m-t-50 m-b-30"> <span class="result-output"> <img src="assets/img/check.png" alt="Check"> <strong class="w-100 d-inline-block"> ${{result.estimatedInnovaPensionPayoutFirstYear | numberFormatFilter}} </strong> </span></div>
    <div class="text-center m-t-30"> <a href="javascript:void(0)" (click)="changeToNextStep()" title="Next" class="btn"> Next </a> </div>
  </div>
</div>

<!-- Step-7 -->
<div *ngIf="stepNumber == 7" class="steps" id="step-7"> <a href="javascript:void(0)" (click)="changeToPreviousStep()" class="back-btn" id="back-btn" title="Click to Back"> <i class="fas fa-arrow-circle-left"></i> </a>
  <div class="step-wrap">
    <h3>Summary of Estimates</h3>
    <ul class="summary">
      <li> Projected Annual NIS Pension <strong class="float-right">${{result.annualNISPension | numberFormatFilter}}</strong> </li>
      <li> Projected Fortress INNOVA plan payout in first year <strong class="float-right">${{result.amountOfInnova | numberFormatFilter}}</strong> </li>
      <li> Total Estimated Pension Income <strong class="float-right">${{result.totalEstimatedPensionIncome | numberFormatFilter}}</strong> </li>
      <li> Total Pension income as a % of estimated final salary <strong class="float-right">{{result.pensionIncomeAsPercentageOfSalary}}%</strong> </li>
    </ul>
    <div class="text-left m-t-15"> <a href="javascript:void(0)" (click)="changeToNextStep()" title="Learn More about INNOVA" class="btn"> Learn More about INNOVA </a> </div>
  </div>
</div>
