<!-- Header -->
<div class="header">
  <div class="container"> <span class="logo float-left"> <a href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="Fortress Fund Managers"> <img src="assets/img/foryress-logo.png" alt="Fortress"> </a> </span>
    <!-- <span class="menu float-right"> <a href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="Click to Expand Menu"> <i class="far fa-bars"></i> </a> </span> -->
  </div>
</div>
