<!-- Mid Content -->
<div class="m-v-25">
  <div class="container">
    <h1 class="custom-heading">NIS Calculator</h1>
    <div class="data-container calu-steps p-35 xs-p-h-20 xs-p-t-70 sm-p-t-70">

      <router-outlet></router-outlet>

    </div>
  </div>
</div>
