<!-- Forgot Password -->
<div *ngIf="formId == 'RESET'" class="m-v-25">
  <div class="container">
    <div class="login-wrap">
      <div class="login-main">
        <!-- Login Form -->
        <form [formGroup]="registerForm" class="m-t-40 d-inline-block w-100">
          <div class="form-group">
            <label>Enter your Email Adress for Forgot Password</label>
            <input formControlName="username" type="text" placeholder="fortress@admin.com" class="form-control">
            <div *ngIf="f.username.errors && f.username.invalid && (f.username.dirty || f.username.touched)">
              <div *ngIf="f.username.errors.required">Email is required</div>
              <div *ngIf="f.username.errors.email">Valid Email is required</div>
            </div>
          </div>
          <button [disabled]="f.username.invalid" type="button" (click)="resetPasswordRequest()" class="btn w-100 m-t-25"> Next </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Forgot Password OTP Verification -->
<div *ngIf="formId == 'VERIFY'" class="m-v-25">
  <div class="container">
    <div class="login-wrap">
      <div class="login-main">
        <!-- Login Form -->
        <form [formGroup]="registerForm2" class="m-t-40 d-inline-block w-100">
          <div class="form-group">
            <label>You have received OTP on your Email Id if it was valid, Please check and insert here..</label>
            <input formControlName="password" type="text" placeholder="564782" class="form-control">
            <div *ngIf="f2.password.errors && f2.password.invalid && (f2.password.dirty || f2.password.touched)">
              <div *ngIf="f2.password.errors.required">Password is required</div>
            </div>
          </div>
          <button [disabled]="f2.password.invalid" type="button" (click)="validateOTP()" class="btn w-100 m-t-25"> Next </button>
        </form>
      </div>
    </div>
  </div>
</div>
