<!-- Step-9 -->
<div *ngIf="stepNumber == 1" class="steps" id="step-9"> <a [routerLink]="['/main/step3']" class="back-btn" id="back-btn" title="Click to Back"> <i class="fas fa-arrow-circle-left"></i> </a>
  <div class="step-wrap">
    <form [formGroup]="registerForm" class="custom-form form-margin form" action="" method="post">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Birthdate</label>
            <input formControlName="birthdate" type="text" name="" class="form-control" bsDatepicker
            [(ngModel)]="dataModel.birthdate" placeholder="DD/MM/YYYY">
            <span class="calendar-icon"> <i class="far fa-calendar-alt"></i> </span> </div>
            <div *ngIf="f.birthdate.errors && f.birthdate.invalid && (f.birthdate.dirty || f.birthdate.touched)">
                            <div *ngIf="f.birthdate.errors.required">Birthdate is required</div>
            </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Retirement Age</label>
            <select formControlName="retirementAge" class="form-control" name="" [(ngModel)]="dataModel.retirementAge">
              <option *ngFor="let retirementAge of retirementAges" [value]="retirementAge">{{retirementAge}}</option>
            </select>
            <div *ngIf="f.retirementAge.errors && f.retirementAge.invalid && (f.retirementAge.dirty || f.retirementAge.touched)">
                            <div *ngIf="f.retirementAge.errors.required">Retirement Age is required</div>
                            <div *ngIf="f.retirementAge.errors.minlength">Min Age 1</div>
                            <div *ngIf="f.retirementAge.errors.maxlength">Max Age 999</div>
                            <div *ngIf="f.retirementAge.errors.min">Min Value 0</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Current Pension Savings</label>
            <input formControlName="currentSavingsInPension" type="text" name="" class="form-control"
            [(ngModel)]="dataModel.currentSavingsInPension" placeholder="eg. $1500. $2500">
            <div *ngIf="f.currentSavingsInPension.errors && f.currentSavingsInPension.invalid && (f.currentSavingsInPension.dirty || f.currentSavingsInPension.touched)">
                            <div *ngIf="f.currentSavingsInPension.errors.required">Current Pension Savings is required</div>
                            <div *ngIf="f.currentSavingsInPension.errors.minlength">Min Value 0</div>
                            <div *ngIf="f.currentSavingsInPension.errors.maxlength">Max Value 999999999</div>
                            <div *ngIf="f.currentSavingsInPension.errors.min">Min Value 0</div>

            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Retirement Target Value</label>
            <input formControlName="expectedAccumulationByRetirement" type="text" name="" class="form-control"
            [(ngModel)]="dataModel.expectedAccumulationByRetirement">
            <div *ngIf="f.expectedAccumulationByRetirement.errors && f.expectedAccumulationByRetirement.invalid && (f.expectedAccumulationByRetirement.dirty || f.expectedAccumulationByRetirement.touched)">
                            <div *ngIf="f.expectedAccumulationByRetirement.errors.required">Retirement Target Value is required</div>
                            <div *ngIf="f.expectedAccumulationByRetirement.errors.minlength">Min Value 0</div>
                            <div *ngIf="f.expectedAccumulationByRetirement.errors.maxlength">Max Value 999999999</div>
                            <div *ngIf="f.expectedAccumulationByRetirement.errors.min">Min Value 0</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Select An Interest Rate</label>
            <select formControlName="interestRate" class="form-control" name=""
            [(ngModel)]="dataModel.interestRate">
              <option *ngFor="let interestRate of interestRates" [value]="interestRate">{{ (interestRate*100)}}%</option>
            </select>
            <div *ngIf="f.interestRate.errors && f.interestRate.invalid && (f.interestRate.dirty || f.interestRate.touched)">
                            <div *ngIf="f.interestRate.errors.required">Interest Rate is required</div>
                            <div *ngIf="f.interestRate.errors.minlength">Min Value 0</div>
                            <div *ngIf="f.interestRate.errors.maxlength">Max Value 999999999</div>
                            <div *ngIf="f.interestRate.errors.min">Min Value 0</div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-left m-t-20"> <a
        [ngClass]="{'disabled': f.interestRate.invalid || f.expectedAccumulationByRetirement.invalid ||
        f.birthdate.invalid || f.retirementAge.invalid || f.currentSavingsInPension.invalid }" (click)="calculate()" title="Next" class="btn"> Next </a> </div>
    </form>
  </div>
</div>

<!-- Step-10 -->
<div class="steps" id="step-10" *ngIf="stepNumber == 2"> <a (click)="changeToPreviousStep()" class="back-btn" id="back-btn" title="Click to Back"> <i class="fas fa-arrow-circle-left"></i> </a>
  <div class="step-wrap">
    <div class="text-center m-t-50 m-b-30"> <span class="result-output"> <img src="assets/img/check.png" alt="Check">
            <h3 class="m-b-30 f-24 -m-t-20">Monthly Investment Required to<br>
              Achieve Your Target</h3>
            <strong class="w-100 d-inline-block m-b-10"> ${{result.monthlyInvestmentRequiredToAchieveTarget}} </strong> </span></div>
  </div>
</div>
