<!-- Footer -->
<div class="footer m-t-65">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <ul class="copyrights">
          <li> Copyright &copy; Fortress - Fund Managers 2018 All Rights Reserved </li>
          <li> <a href="javascript:void(0);" title="Terms and Conditions" data-toggle="modal" data-target="#terms"> Terms and Conditions </a> </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="float-right socials">
          <li> <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Facebook"> <i class="fab fa-facebook-f"></i> </a> </li>
          <li> <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Twitter"> <i class="fab fa-twitter"></i> </a> </li>
          <li> <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Linkedin"> <i class="fab fa-linkedin-in"></i> </a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Terms & Conditions -->
<div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="termsLabel">Terms and Conditions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body terms_date">
        <p> <strong>The Fortress terms and conditions</strong>, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.</p>
        <p>Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum.</p>
        <p>Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus.</p>
        <p>Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum.</p>
        <p>Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
